
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arvo", cursive;
}

body{
    background-color: #aaa69d;
}

#navbar{
    border-bottom: 2px solid #d0cdcdb1;
    color: black;
    font-size: 30px;
    padding-bottom: 5px;
}

#undoRedoButtons{
    margin-top: 10px;
}

/* h2{
    margin-top: -10px;
    color: #000;
} */

h1{
    text-align: center;
    color: #c7ecee;
    background-color: #2C3A47;

}

#deleteImg{
    height: 40px;

}

#fillImg{
    height: 40px;
} 


#savePNG{
    height: 30px;
    width: 100px;
    background-color: #ff793f;
}

#saveSVG{
    height: 30px;
    width: 100px;
    background-color: #ffb142;
}

.shapeImg{
    width: 40px;
    height: 40px;
}

#tools{
    margin-top: 15px;
    padding-bottom: 20px;
}

#size{
    margin-top: 5px;
}

.shapeImg{
    height: 30px;
}


#shape{
    justify-content: center;
}

#size{
    cursor: pointer;
}

#color{
    cursor: pointer;
    margin-top: -10px;
}

svg{
    cursor: crosshair;
    width: 1000px;
    height: 500px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow:3px 3px 3px 3px;
    background-color: white;
}


button{
    cursor: pointer;
}

line{
    stroke: black;
    stroke-width: 3;
}

rect{
    fill:none;
    stroke: black;
    stroke-width: 3;
}

rect:hover{
    fill:#d0cdcdb1;
    fill-opacity: 0.7;
    cursor: pointer;
}

rect:checked{
    cursor: move;
}


ellipse{
    fill:none;
    stroke: black;
    stroke-width: 3;
}

ellipse:hover{
    fill:#d0cdcdb1;
    cursor: pointer;
    fill-opacity: 0.7;
}